<ion-header>
    <ion-toolbar>
        <ion-title>todos-view</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list #slidingList>
            <ion-item-sliding *ngFor="let todo of allTodos">
                <ion-item>
                    <h2>{{todo.title}}</h2>
                </ion-item>
                <ion-item-options>
                    <button ion-button class="danger column" (click)="deleteTodo(todo)">
                        <ion-icon class="list-icons" name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
    </ion-list>
</ion-content>
